{%  extends "en/site_base.html" %}


{% block pagecontent %}


<div style="width:80%">

    <table class="table table-hover table-bordered table-striped" style="text-align:center">
        <thead><tr>
            <th>Lesson Module</th>
            <th>Lesson ID</th>
            <th>Lesson Title</th>
            <th>Lesson Description</th>
            <th>Link to Lesson</th>
        </tr></thead>
        <tbody>
        {% for lesson in lessons %}
        <tr>
            <td><b>#{{ lesson.get_module_name }}</b></td>
            <td>#{{ lesson.lesson_num }}</td>
            <td>{{ lesson.lesson_title|safe }}</td>
            <td style="text-align:{{ textalign }}">{{ lesson.lesson_desc |safe }}</td>
            <td><a href="{% url 'lessons:lesson' lang='en' lesson_module='basic' lesson_id=lesson.lesson_id %}">GO</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>


{% endblock %}
