{%  extends "lessons/he/lesson.html" %}

{% block pagecontent %} 


<div style="float:{{ lang.get_oppositealign_display }};padding-left:5%"><b><i>מבוסס על ויקיפדיה, האנציקלופדיה החופשית</i></b></div>

<div align="{{ lang.get_textalign_display }}" style="padding:5%;width:75%">
<p>
פייתון (באנגלית: Python) היא שפת תכנות דינמית מהנפוצות ביותר. פייתון תוכננה תוך שימת דגש על קריאות הקוד, וכוללת מבנים המיועדים לאפשר ביטוי של תוכניות מורכבות בדרך קצרה וברורה. אחד המאפיינים הבולטים בתחביר השפה הוא השימוש בהזחה להגדרת בלוקים של קוד (ללא שימוש בסוגריים או במילים שמורות לצורך כך, כמו ברוב השפות הנפוצות).
</p>
<p>
פייתון היא שפה מרובתפרדיגמות, המאפשרת תכנות מונחה-עצמים, תכנות פרוצדורלי, ובמידה מסוימת גם תכנות פונקציונלי. לשפה ספרייה סטנדרטית גדולה וענפה, והיא תומכת באופן מובנה בהרחבה שלה אל שפות אחרות (בתלות במפרש: C‏, ++C,‏ Java‏ ו-#C).
</p>
<p>
לשפה שתי גרסאות ראשיות, פייתון 2 ופייתון 3. פייתון 2 איננה בפיתוח יותר (למעט תיקון באגים), אך עדיין נתמכת, והיא הגרסה הנפוצה יותר בתעשייה.
</p>
<p>
פייתון היא השפה הרביעית בתפוצתה על פי קריטריונים מסוימים[2] והשנייה על פי קריטריונים אחרים[3].
</p>
<p>
שם השפה "פייתון" נבחר כמחווה לקבוצה הקומית "מונטי פייתון".
</p>

</div>

{% endblock %}